body {
    font-family: "Roboto Light", sans-serif;
    font-size: 12pt;
}

.bde-root {
    padding: 1em;
}

.bde-header {
    padding: 0.5em;
    font-size: 14pt;
    font-weight: bold;
}

.bde-path {
    padding: 0.5em;
    font-size: 10pt;
}

.bde-field {
    padding: 10px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
}

.bde-item {
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    text-align: center;
    vertical-align: middle;
}

.bde-item:hover {
    background-color: honeydew;
}

.bde-big {
    font-size: 20pt;
    vertical-align: middle;
}

.bde-item-header {
    font-weight: bold;
    text-align: center;
}

.bde-item-with-header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.bde-item-in-array {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    gap: 5px;
}

.bde-drill-down {
    cursor: pointer;
}

.bde-drill-down:hover {
    text-decoration: underline;
}

.bde-breadscrumb {
    padding: 0.5em;
    cursor: pointer;
}

.bde-breadscrumb:before {
    content: "/";
}

.bde-breadscrumb:hover {
    text-decoration: underline;
}