body {
    font-family: "Roboto Thin", sans-serif;
    font-size: 12pt;
}

.bde-component {
    padding: 1em;
}

/* Common */
.link {
    padding: 3px;
    border-radius: 3px;
    color: #3366CC;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: auto;
}

.link:hover {
    color: #66CCFF;
    border: 1px solid #66CCFF;
}

.link.action-danger:hover {
    color: #cc3366;
    border: 1px solid #cc3366;
}

.vertical-gap {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* Title */
.bde-component > .title {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: flex;
    align-items: center;
}

.bde-component > .title > .large {
    font-size: x-large;
    font-weight: bold;
}

/* Navigation */
.bde-component > .navigation {
}

.bde-component > .navigation > .item {
    padding-right: 0.3em;
}

.bde-component > .navigation > .item:before {
    content: "/";
}

/* Area */
.bde-component > .area {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}

/* Area aside */
.bde-component > .area > .aside {
    display: flex;
    align-items: center;
}

.bde-component > .area > .aside.left {
    justify-content: flex-start;
}

.bde-component > .area > .aside.right {
    justify-content: flex-end;
}

.bde-component > .area > .aside > .big {
    font-weight: bold;
    font-size: x-large;
}

/* Chain */
.bde-component > .area > .chain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    padding: 8px;
}

/* Chain item */
.bde-component > .area > .chain > .item {
    background-color: white;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
}

/* Chain item title */
.bde-component > .area > .chain > .item > .title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5em;
}

/* Chain item table for array */
.bde-component > .area > .chain > .item > table {
    width: 100%;
}

/* Text input */
.bde-component input[type="text"],
select,
input[type="password"],
input[type="date"],
input[type="number"],
input[type="datetime-local"],
input[type="checkbox"] {
    font-family: inherit;
    font-size: 12pt;

    padding: 4px 6px;

    border: 1px solid #ccc;
    border-radius: 3px;

    width: 100%;
    box-sizing: border-box;

    outline: none;
}

/* Focus */
.bde-component input[type="text"]:focus,
select:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
input[type="checkbox"]:focus {
    border-color: #66CCFF;
    box-shadow: 0 0 2px rgba(74, 144, 226, 0.6);
}

